
.FCButton{
	-fx-max-width: 76px;
	-fx-min-width: 76px;
	-fx-max-height: 96px;
	-fx-min-height: 96px;
	-fx-border-color: grey;
    -fx-border-insets: 0;
    -fx-border-width: .6;
	-fx-border-radius: 8;
	-fx-background-radius: 8;
}
.FCButton:selected {
    -fx-border-width: 1;
	-fx-border-color: black;
}

.colorPicker{
	-fx-max-width: 0px;
	-fx-min-width: 0px;
	-fx-max-height: 96px;
	-fx-min-height: 96px;
	visibility: hidden;
}

.color-button {
	-fx-max-width: 24px;
	-fx-min-width: 24px;
	-fx-max-height: 24px;
	-fx-min-height: 24px;
	-fx-border-color: grey;
    -fx-border-insets: 0;
    -fx-border-width: .3;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.color-button:selected {
	-fx-border-color: black;
}

.text{
	-fx-text-alignment: center;
	-fx-font-family: sans-serif;
}